* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* 
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; 
*/
:root {
    --success: #1BBC9B;
    --success-dark: #169C81;
}

a {
    text-decoration: none;
}

/* navber-section */
.btn-outline-success {
    color: var(--success);
    font-size: small;
    border-color: var(--success);
}

.btn-outline-success:hover {
    background-color: var(--success);
    border-color: var(--success);
}

.dropdown-cog button {
    color: var(--success);
}

.dropdown-cog button:hover {
    background-color: var(--success);
    color: white;
}

.dropdown-cog i {
    font-size: 20px;
}

.nav-item a {
    font-size: 15px;
    margin: 0.6vw;
}

/* navber-section */

/* home-banner */
.home-banner {
    background-image: url("../images/sliders/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.banner__title {
    min-height: 50vh;
    margin-top: 7em;
}

.btn-success {
    background-color: var(--success);
    color: white;
    border-color: var(--success);
    line-height: 35px;
    height: 50px;
    width: 120px;

}

.btn-success:hover {
    background-color: var(--success-dark);
    color: white;
    border-color: var(--success-dark);

}

/* About Medifab */
.line {
    border-bottom: 2px solid var(--success);
    width: 70px;
    margin: auto;
}

.section-header h3 {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

.heading {
    max-width: 68%;
    margin: 0px auto;
}

.book__an__appointment p {
    font-size: 15px;
}

/* About Medifab */

/* meet-our-doctors */
.owl-nav .owl-prev span {
    color: var(--success);
    position: absolute;
    font-size: 64px;
    width: 42px;
    height: 42px;
    top: 14%;
    left: -5%;

}

.owl-nav .owl-next span {
    color: var(--success);
    position: absolute;
    font-size: 64px;
    width: 40px;
    height: 100px;
    top: 14%;
    right: -5%;
}

.owl-carousel .item .doctor_name {
    font-size: 16px;
    color: #2c2b2b;
    font-weight: 500;
}

.owl-carousel .owl-item img {
    display: block;
    width: 30%;
}

.see__all_btn {
    font-size: 19px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
    color: #777;
}

.see__all_btn:hover {
    background-color: var(--success-dark);
    color: white;
}

.doctor img {
    width: 60% !important;
    margin: auto;
}

.doctor,
.doctor_position,
.doctor_name {
    font-size: 14px;
}

.doctor,
.doctor_name {
    font-size: 15px;
}

.doctor a {
    font-size: 16px;
    color: #2c2b2b;
    font-weight: 500;

}

.doctor a:hover {
    color: var(--success) !important;
}

/* meet-our-doctors */

/* Departments */
.dept-img a {
    border: 1px solid #eee;
    border-radius: 100%;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
}


.dept-img img {
    height: 50px;
    width: auto;
}

.service-icon i {
    font-size: 34px;
    color: #666;
    width: 80px;
    height: 80px;
    background-color: #f6f6f6;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #efefef;
}

.dept-box p {
    font-size: 15px;
}

.dept-name a {
    font-size: 16px;
    color: #2c2b2b;
    font-weight: 500;
}

.dept-name a:hover {
    color: var(--success) !important;
}

/* Departments */


/* Testimonials */
.estimonial__text p {
    font-size: 15px;
}

/* Testimonials */

/* =================== */
/* about page */
.about__img img {
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

/* =================== */
/* about page */


/* =================
doctor__profile */
.page-header span {
    font-size: 20px;
}

.book-appointment a {
    background-color: #169c81;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
    padding: 5px 10px;
}

.doctor-about p {
    text-align: justify;
}

/* =================
doctor__profile */

/* doctor__page */
.doctor-inner {
    overflow: hidden;
}

.doctor-inner img {
    width: 100%;
    height: 150%;
    transition: 0.5s ease;
}

.doctor-inner img:hover {
    transform: scale(1.3);
}

.doctor-book-appointment a {
    background-color: #1bbc9b;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
}

/* doctor__page */

/* ===============
department-dentists */
.service-image {
    overflow: hidden;
}

.service-image img {
    width: 100%;
    height: 150%;
    transition: 0.7s ease;
}

.service-image img:hover {
    transform: scale(1.2);
}

.list-square li {
    line-height: 24px;
    list-style: none;
    margin: 10px 0 0 20px;
    position: relative;

}

.contact-wrap p {
    font-size: 13px;
}

.contact-phone a {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
}

.contact-phone a:hover {
    color: var(--success);
}

.contact-phone i {
    color: var(--success);
    font-size: 20px;
}

.working-hours li {
    font-size: 13px;
    list-style: none;
}

.working-hours ul {
    padding-left: 0px;
}

.working-hours ul li {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.working-hours ul li > b{
    color: #999;
    float: right;
    font-size: 14px;
    font-weight: normal;
}
.working-hours ul li>span {
    float: left;
    font-size: 15px;
}

/* ===============
department-dentists */





















/* footer */
.sitemap-item {
    margin-left: -24px;
    line-height: 0px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    color: #777;
    font-size: 14px;
}

.nav-item a:hover {
    color: var(--success);
}

.blog-item {
    margin-left: -24px;
    line-height: 0px;
}

.appoint-description {
    font-size: 13px;
}

.appointment-icon {
    justify-content: center;
    display: flex;
    text-align: center;
}

.appointment-icon a {
    margin: 0.5vw;
    border: 1px solid #e7e7e7;
    color: #666;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    width: 40px;
}

.appointment-icon a:hover {
    border-color: var(--success);
    color: var(--success);
}

/* footer */